@import url('https://fonts.googleapis.com/css2?family=Glory:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300&display=swap');

/*<a href="https://www.flaticon.com/free-icons/buffering" title="buffering icons">Buffering icons created by muhammad atho' - Flaticon</a>*/

* {
    margin: 0;
    padding: 0;
}

body {
    /*https://i.imgur.com/c7YTOei.png*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/cdn/background_01.png');
    /*background: #373737;*/
    background-attachment: fixed;
    /*transform: rotateX(0);*/
    padding: 1%;
    margin: auto;
    font-family: 'Glory', sans-serif;
    color: white;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
    background: #1d1d1d;
}

::-webkit-scrollbar-thumb {
    background: #3d3d3d;
}

::-webkit-scrollbar-thumb:hover {
    background: #2e2e2e;
}

p {
    margin-bottom: 20px;
    margin-top: 5px;
}

/*
    Modifying division tags
*/

div.workspace {
    background: #1d1d1d7a;
    backdrop-filter: blur(7px);
    box-shadow: 1px 1px #0000009b;
    border: solid #000000 1px;
    width: 90%;
    font-size: 20px;
    border-radius: 10px;
    padding: 2%;
    margin: 20px auto;
    box-sizing: border-box;
    overflow: hidden;
}

div.navi_bar, div.search_bar {
    font-size: 0;
    background: #1d1d1d7a;
    backdrop-filter: blur(7px);
    box-shadow: 1px 1px #0000009b;
    border: solid #000000 1px;
    width: 90%;
    border-radius: 10px;
    display: table;
    margin: 30px auto auto auto;
    box-sizing: border-box;
    padding: 0;
}

div.sub_content {
    color: #a1a1a1;
    font-weight: bolder;
}

div.nav_btn {
    font-size: 20px;
    display: inline-flex;
    padding: 7px;
     /*border: #000000 solid 1px;*/
    margin: 0;
    transition: 0.8s;
}

div.navi_bar > a:first-child > div {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

div#secondary_option {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

div.nav_btn:hover {
    background-color: #fc0b03;
    cursor: pointer;
    color: #fff;
}

div.logo_container {
    text-decoration: #ffffff underline;
    font-family: 'Roboto Slab', serif;
    box-shadow: 1px 1px #0000009b;
    backdrop-filter: blur(7px);
    border: double #000000 3px;
    box-sizing: border-box;
    background: #1d1d1d7a;
    text-align: center;
    border-radius: 5px;
    margin: 10px auto;
    transition: 0.5s;
    cursor: pointer;
    font-size: 30px;
    color: #ffffff;
    width: 400px;
    padding: 5px;
}

h1 {
    margin-bottom: 20px;
}

div.logo_container:hover {
    box-shadow: 2px 2px #0000009b;
}

div.body.workspace * {
    margin-top: 5px;
    margin-bottom: 10px;
}

div.warning {
    border: 1px #5f0200 solid;
    background: #fc0b0388;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    display: block;
    padding: 5px;
    margin: auto;
    width: 50%;
}

div#warning {
    display: none;
}

div.button_row {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px !important;
    border-radius: 10px;
    box-sizing: border-box;
    border: solid 1px #1d1d1d;
    width: 200px;
}

div.user_data {
    border-top: #000000 solid 1px;
    padding-top: 10px;
}

div.user_key_value_pair {
    margin-top: 10px !important;
}

div.user_saves {
    padding-left: 10px;
}

div.stray {
    padding: 0;
    margin: 0 !important;
    box-sizing: border-box;

}

div.comment_section {
    box-sizing: border-box;
    background: #00000055;
    font-size: 15px;
    padding: 10px;
    font-family: 'Catamaran', sans-serif;
}

div#comment_section_intro {
    width: 70%;
    margin: auto;
    text-align: center;
    color: #8d8d8d;
}

div.comment {
    margin: 0 !important;
    border: 1px solid #1d1d1d;
    padding: 5px;
}

.comment_thumbnail_img {
    display: inline-block;
    float: left;
    width: 50px;
    border: 1px solid #000000;
    margin-right: 10px;
    border-radius: 5px;
}

span.comment_username {
    color: #FF544D;
    font-weight: bold;
}

.change_view_type_container {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px !important;
    margin-bottom: 10px !important;
    text-align: center;
}

/*
    Modifying anchor tags
*/

a {
    text-decoration: none;
    color: #FF544D;
    transition: 0.6s;
    font-weight: bold;
}

a.user {
    position: relative;
    float: right !important;
}

a.notes {
    text-decoration: none;
    color: #ff3f39;
    font-weight: bold;
}

a.notes:hover {
    font-weight: bolder;
    color: #FF544D;
}

a.credits_link {
    width: 10%;
    text-align: center;
    margin: auto;
    display: block;
}

a.logo_link {
    /*background: -webkit-linear-gradient(45deg, #ffffff, #ff5050);*/
    /*-webkit-background-clip: text;*/
    /*-webkit-text-fill-color: transparent;*/
    /*font-weight: bold;*/
    color: white;
}

a.notes_source, a.notes_link {
    transition: 0s;
    font-weight: normal;
    color: #ffffff;
    display: block;
    margin: 0 !important;
}

a.notes_source:hover, a.notes_link:hover {
    color: #1d1d1d;
}

img.avatar_img {
    width: 25%;
    border-radius: 50%;
    margin: auto;
    display: block;
}

img#buffer {
    animation: buffer infinite 2s linear;
    margin-left: 5%;
    width: 5%;
    user-select: none;
}

form.standard_form {
    border-radius: 10px;
    display: block;
    background: #6f6f6f55;
    backdrop-filter: blur(15px);
    text-align: center;
    margin: 5%;
    padding: 15px;
}

label {
    display: block;
    margin: 15% auto;
}

input {
    border: solid 1px #1d1d1d;
    padding: 10px;
    border-radius: 10px;
    background-color: #2e2e2e55;
    color: white;
    text-align: center;
    font-size: 15px;
    font-weight: lighter;
}

button:hover {
    cursor: pointer;
}

button#change_view_type {
    background: none;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #000000;
    text-align: center;
}

button#change_view_type:hover {
    box-shadow: 1px 1px #1d1d1d;
}

div.input_group {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

input.standard_input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px !important;
    margin-bottom: 20px !important;
    width: 80%;
}

button.submit_button, a.relative_link {
    display: inline-block;
    padding: 5px 20px;
    width: 50%;
    box-sizing: border-box;
    vertical-align: top;
    position: relative;
    font: 20px 'Glory', sans-serif;
}

button#login, button#register {
    margin: 0;
    border-radius: 10px;
    border-right: solid 1px #1d1d1d;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    background-color: #ff3f39;
    font-weight: bolder;
}

button#forgot {
    margin: auto;
    border-radius: 10px;
    border: solid 1px #1d1d1d;
    background-color: #ff3f39;
    font-weight: bolder;
    width: auto;
}

a#s_button {
    margin: 0;
    text-align: center;
}

textarea.add_comment {
    display: block;
    width: 90%;
    padding: 5px;
    background: none;
    transition: 0.8s;
    float: left;
    margin-right: 1%;
}

textarea.add_comment:focus {
    background: white;
    height: 50px;
    transition: 0.8s;

}

input.comment_submit {
    margin: 0 auto;
}

.tooltip {
    color: #ff4545;
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    font-weight: bold;
    cursor: pointer;
}

.tooltip .tooltip_text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip_text {
    font: 15px 'Glory', sans-serif;
}

.tooltip:hover .tooltip_text {
    visibility: visible;
}

.radio_group {
    display: inline-flex;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 1px 1px #5e5e5e5e;
    padding: 0;
    margin: auto !important;
    border: 1px solid #000000;
}

.radio_input {
    display: none;
}

.radio_label {
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    background-color: #FF544D;
    transition: background-color 1s;
    margin: 0 !important;
}

.radio_label:not(:last-of-type) {
    border-right: 1px solid #000000;
}

.radio_input:checked + .radio_label {
    background: #ff1f1a;
}

.notes_image {
    display: flex;
    width: 80%;
    margin: 20px auto 15px auto;
    transition: 0.5s;
}

span.line {
    display: block;
    margin-top: 10px;
}

span.emphasize {
    text-decoration: white underline;
}

button.save_button, button.save_button_invalid {
    text-align: center;
    box-sizing: border-box;
    background: #ffffff00;
    border-radius: 1px;
    border: solid 1px #000000;
    font-family: 'Glory', sans-serif;
    font-size: 20px;
    color: #ffffff;
    padding: 5px
}

button.save_button:hover {
    box-shadow: 1px 1px #000000;
}

th {
    text-align: left;
    padding: 10px;
    width: auto;
}

td {
    white-space: nowrap;
    width: auto;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 10px;
}

/*tr:hover {*/
/*    transition: 0.1s;*/
/*    background:  #FF544D;*/
/*}*/

tr.allow_focus:focus-within {
    background:  #FF544D;
}

tr:nth-child(1):hover {
    background: none;
}

table {
    white-space: nowrap;
    margin: 20px auto !important;
    width: 70%;
    border: 2px #000000 solid;
    table-layout: auto;
    border-radius: 10px;
    overflow: scroll;
}

form.search {
    padding: 0;
    /*border: #000000 solid 1px;*/
    margin: 0;
    transition: 0.8s;
    width: 100%;
}

input.search_input {
    box-sizing: border-box;
    font-size: 15px;
    display: inline-flex;
    padding: 10px;
    width: 90%;
    margin: 0;
}

input.search_submit {
    color: #FF544D;
    width: 10%;
    background: #2e2e2e;
}

.cookie_consent_box {
    display: none;
    background: #3d3d3d;
    padding: 10px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 500px;
    max-width: 85%;
    border: 1px solid #1d1d1d;
    border-radius: 5px;
    cursor: default;
    animation: appear 1s forwards;
}

.close_button {
    cursor: pointer;
    margin-left: 15px;
    color: #fff;
    font-weight: bold;
    float: right;
    font-size: 20px;
    line-height: 20px;
}

.close_button:hover {
    color: #f00;
}

@media screen and (max-width: 1000px) { /** Mobile device **/

    table#sources_table, table#links_table {
        font-size: 15px;
    }

    .input_group {
        width: 100% !important;
    }

    .standard_input {
        width: 80% !important;
    }

    .notes_image:hover {
        transform: scale(1.5);
    }

    .radio_label {
        padding: 10px;
    }
}

@media screen and (max-width: 460px) {
    div.logo_container {
        font-size: 20px;
        width: 90%;
    }

}

#notes_container {
    width: 80%;
    margin: auto;
    padding: 10px;
    border-radius: 15px;
    background-color: #00000055;
}

@keyframes buffer {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@keyframes appear {

    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }

}